.contact {
  margin-block: var(--size-4);
  margin-inline: auto;
  width: 90%;
  max-width: 24rem;
  text-align: center;
}

.contact h2 {
  text-transform: uppercase;
  font-size: var(--size-5);
  color: var(--color-text);
}

.contact p {
  text-transform: uppercase;
  font-size: var(--size-4);
  color: var(--color-text-secondary);
}

.contact a {
  display: block;
  color: var(--color-text-secondary);
  font-size: var(--size-4);
  word-break: break-all;
}

.contact a:hover,
.contact a:active {
  opacity: 0.6;
}

.contact hr {
  border-color: var(--color-separator);
  margin-block: var(--size-4);
}
