.donate {
  margin-block: var(--size-4);
  margin-inline: auto;
  width: 90%;
  max-width: 24rem;
  text-align: center;
}

.donate h2 {
  text-transform: uppercase;
  font-size: var(--size-6);
  color: var(--color-text);
}

.donate a {
  display: block;
  color: var(--color-text-secondary);
  font-size: var(--size-4);
  margin-block: var(--size-2);
  word-break: break-all;
}

.donate a:hover,
.donate a:active {
  opacity: 0.6;
}

.donate hr {
  border-color: var(--color-separator);
  margin-block: var(--size-4);
}
