.header {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-block: var(--size-4);
  padding-inline: var(--size-4);
  background-color: var(--color-bg-elevated);
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--size-4);
  margin: 0;
  padding: 0;
}

.header a {
  color: var(--color-text);
  font-size: var(--size-3);
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--color-text-secondary);
}

@media (min-width: 768px) {
  .header {
    padding-block: var(--size-5);
    padding-inline: 10%;
  }

  .header ul {
    gap: var(--size-6);
  }

  .header a {
    font-size: var(--size-4);
  }
}
