.btn {
  width: 100%;
  font: inherit;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-bg-elevated);
  border: 1px solid var(--color-separator);
  color: var(--color-text);
  border-radius: 4px;
  text-decoration: none;
}

.btn:hover,
.btn:active {
  background-color: var(--color-bg-elevated-2);
  border-color: var(--color-separator);
  text-decoration: none;
}



.link {
  background-color: transparent;
  /* border: 1px solid #252525; */
  /* border-radius: 6px; */
  color: var(--color-grey-500);
  font: inherit;
  cursor: pointer;
}

.link:hover,
.link:active {
  opacity: 60%;
}